<div class="wrapper mx-auto">
    <div class="card border-primary">
        <h6 class="card-header bg-primary text-light">
            Car Ride Registration Form
        </h6>
        <div class="card-body">
            <form #registerForm="ngForm" (submit)="onSubmitHandler()">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" class="form-control"
                    [(ngModel)]="carModel.name" required #name="ngModel"
                    [class.is-invalid]="name.invalid && name.touched">
                    <small class="text-danger" *ngIf="name.invalid && name.touched">Name is required</small>
                    <br>
                    <label for="startLocation">Start Location</label>
                    <input type="text" name="startLocation" id="startLocation" class="form-control"
                    [(ngModel)]="carModel.startLocation" required #startLocation="ngModel"
                    [class.is-invalid]="startLocation.invalid && startLocation.touched">
                    <small class="text-danger" *ngIf="startLocation.invalid && startLocation.touched">Start Location is required</small>
                    <br>
                    <label for="destination">Destination</label>
                    <input type="text" name="destination" id="destination" class="form-control"
                    [(ngModel)]="carModel.destination" required #destination="ngModel"
                    [class.is-invalid]="destination.invalid && destination.touched">
                    <small class="text-danger" *ngIf="destination.invalid && destination.touched">Destination is required</small>
                    <br>
                    <label for="car">Car</label>
                    <input type="text" name="car" id="car" class="form-control"
                    [(ngModel)]="carModel.car" required #car="ngModel"
                    [class.is-invalid]="car.invalid && car.touched">
                    <small class="text-danger" *ngIf="car.invalid && car.touched">Car is required</small>
                    <br>
                    <label for="seatsAvailable">Seats Available</label>
                    <input type="number" name="seatsAvailable" id="seatsAvailable" class="form-control"
                    [(ngModel)]="carModel.seatsAvailable" required #seatsAvailable="ngModel"
                    [class.is-invalid]="seatsAvailable.invalid && seatsAvailable.touched" min="1" max="7">
                    <div *ngIf="seatsAvailable.errors && seatsAvailable.touched">
                        <small class="text-danger" *ngIf="seatsAvailable.errors['required']">Seats Available is required</small>
                        <small class="text-danger" *ngIf="seatsAvailable.invalid && !seatsAvailable.errors['required']">Seats should be greater than 0 and less than 8</small>
                    </div>
                    <br>
                    <input type="submit" class="btn btn-primary" value="Submit" [disabled]="registerForm.invalid">
                    &nbsp;
                    <a href="#" class="btn btn-primary">Go Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

